.registration-container {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(135deg, #3f87a6, #ebf8e1);
  overflow: hidden;
}

.form-container {
  flex: 1;
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 28px;
  color: white;
  margin-bottom: 20px;
}

.form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 15px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.enroll-button,
.clear-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.enroll-button {
  background-color: #4caf50;
  color: white;
}

.clear-button {
  background-color: #f44336;
  color: white;
}

.enrolled-students {
  flex: 1;
  width: 60%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.students-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.student-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.student-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  position: relative;
  animation: slide-up 0.5s ease-out forwards;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: box-shadow 0.3s;
}

.student-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.student-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.student-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.student-email,
.student-website,
.student-gender,
.student-skills {
  font-size: 14px;
  margin: 5px 0;
}

.student-card:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.remove-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
 
  transition: background-color 0.3s, transform 0.2s;
}
